.header {
  background: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
  display: flex;
}
.header__container {
  display: flex;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #2196F3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: Raleway;
  margin-right: 97px;
}
.header__list-link {
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 50px;
}
.header__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196F3;
  text-decoration: underline;
}
.header .current {
  color: #2196F3;
  position: relative;
  display: inline-block;
}
.header .current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  left: 0;
  bottom: 0;
  background-color: #2196F3;
  background: #2196F3;
}
.header__list-contact {
  display: flex;
  margin-left: auto;
}
.header__item-contact:not(:last-child) {
  margin-right: 50px;
}
.header__item-contact-link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item-contact-link:hover, .header__item-contact-link:focus {
  color: #2196F3;
}
.header__item-contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/home-page-images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero__title {
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #FFFFFF;
  width: 696px;
  margin-bottom: 30px;
}
.hero__button {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #1976d2;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features .features__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features .features__list {
  display: flex;
  flex-wrap: wrap;
}
.features .features__item {
  width: 270px;
}
.features .features__item:not(:last-child) {
  margin-right: 30px;
}
.features .features__image {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.features .features__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  margin-bottom: 10px;
}
.features .features__item-text {
  font-size: 14px;
  line-height: 1.71;
}

.job {
  padding-bottom: 94px;
}
.job__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}
.job__list {
  display: flex;
}
.job__item:not(:last-child) {
  margin-right: 30px;
}
.job__item {
  position: relative;
}
.job__item > .label {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 28px;
  padding-bottom: 27px;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  justify-content: center;
}
.team__item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}
.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #FFFFFF;
}
.team__item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
  margin-bottom: 10px;
}
.team__item-description {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}
.team__item-socials-list {
  display: flex;
  justify-content: center;
}
.team__item-socials-item:not(:last-child) {
  margin-right: 10px;
}
.team__item-socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__item-socials-link:hover, .team__item-socials-link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}
.team__item-socials-link-icon {
  fill: currentColor;
}

.customer {
  padding-top: 94px;
  padding-bottom: 94px;
}
.customer__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}
.customer__list {
  display: flex;
  justify-content: center;
}
.customer__item:not(:last-child) {
  margin-right: 30px;
}
.customer__link {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__link:hover, .customer__link:focus {
  border: 1px solid #2196F3;
  color: #2196F3;
}
.customer__link-icon {
  fill: currentColor;
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay-text {
  color: #FFFFFF;
  background-color: rgba(33, 149, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}
.portfolio__navigation-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: black;
  cursor: pointer;
  background: #E5E5E5;
  padding: 6px 26px;
  border-style: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__navigation-button:hover, .portfolio__navigation-button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio__filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-gap));
  margin-left: calc(-1 * var(--card-gap));
}
.portfolio__filters-item:not(:last-child) {
  margin-right: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__list-item:hover, .portfolio__list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__list-item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.portfolio__list-item:hover .card-overlay-text, .portfolio__list-item:focus .card-overlay-text {
  transform: translateY(0%);
  cursor: pointer;
}
.portfolio__description {
  border-bottom: 1px solid #E5E5E5;
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}
.portfolio__list-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio__list-text {
  font-size: 16px;
  line-height: 1.87;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__logo {
  font-weight: 700;
  font-size: 26px;
  font-family: Raleway;
  color: #2196F3;
  line-height: 1.19;
  margin-bottom: 9px;
  display: block;
}
.footer__location {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  color: #FFFFFF;
  margin-bottom: 2px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__location:hover, .footer__location:hover {
  color: #2196F3;
}
.footer__item:not(:last-child) {
  margin-bottom: 2px;
}
.footer__item-link {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.6;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__item-link:hover, .footer__item-link:focus {
  color: #2196F3;
}
.footer__middle-title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  font-family: Roboto;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__left {
  margin-right: 70px;
}
.footer__middle {
  margin-right: 93px;
}
.footer__social-media {
  display: flex;
}
.footer__socials-link {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socials-link:hover, .footer__socials-link:focus {
  background-color: #2196F3;
}
.footer__socials-link-icon {
  cursor: pointer;
}
.footer__form {
  display: flex;
}
.footer__form-label {
  margin-right: 12px;
}
.footer__input-title {
  font-size: 14px;
  line-height: 1.1428571429;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__input {
  padding: 15px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input:hover, .footer__input:focus {
  color: #FFFFFF;
  background-color: transparent;
  border-color: #FFFFFF;
}
.footer__button {
  border: none;
  padding: 10px 28px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196F3;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  font-family: "Roboto";
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .send-icon {
  margin-left: 30px;
}
.footer__button:hover, .footer__button:focus {
  background-color: #1976d2;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  visibility: visible;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visbility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.icon-close:hover {
  fill: #2196F3;
}

.checkbox:checked + .modal__checkbox-label > .modal__checkbox {
  background-color: #2196F3;
  border: none;
}

.form-button {
  margin-bottom: 40px;
  margin-left: 110px;
  border: none;
  padding: 16px 80px;
  border-radius: 4px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #1976d2;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
}
.modal__button {
  float: right;
  border-style: none;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__form {
  padding-top: 40px;
  padding-right: 39px;
  padding-left: 41px;
}
.modal__label {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  position: relative;
}
.modal__icon {
  position: absolute;
  top: 52%;
  margin-left: 12px;
  margin-bottom: 11px;
  fill: black;
}
.modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 33px;
}
.modal__textarea-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  font-size: 14px;
  font-weight: 400px;
  font-family: "Roboto";
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea-input:hover, .modal__textarea-input:focus {
  border-color: #2196F3;
}
.modal__label:not(:last-child) {
  border-color: #2196F3;
}
.modal__input:hover, .modal__input:focus {
  border-color: #2196F3;
}
.modal__label:hover .modal__icon, .modal__label:focus .modal__icon {
  fill: #2196F3;
}
.modal__caption {
  font-size: 20px;
  font-weight: 700;
  font-family: "Roboto";
  line-height: 1.15;
  color: rgba(0, 0, 0, 0);
}
.modal__checkbox-label {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  display: flex;
  cursor: pointer;
}
.modal__checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 2px;
  margin-right: 8px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}/*# sourceMappingURL=main.css.map */