.header{
    background: var(--white-color);
    border-bottom: 1px solid #ECECEC;

    &__container{
        display: flex;
    }

    &__navigation{
        display: flex;
        align-items: center;
    }

    &__logo{
        color: var(--accent-color);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        font-family: Raleway;
        margin-right: 97px;
    }
}