$primary-title-color: #212121;
$accent-color: #2196F3;
$primary-text-color: #757575;
$header-background: #FFFFFF;
$hero-background:#2F303A;
$white-color:#FFFFFF;
$hero-button-hover:#1976d2;
$label-background-color:rgba(47, 48, 58, 0.800);
$link-color:#AFB1B8;
$portfolio-button-color:#0000;
$portfolio-background-color:#E5E5E5;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;