.customer{
    padding-top: 94px;
    padding-bottom: 94px;
.customer__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: $primary-title-color;
    text-align: center;
    margin-bottom: 50px;
}
.customer__list{
    display: flex;
    justify-content: center;
}
.customer__item:not(:last-child){
    margin-right: 30px;
}
.customer__link {
    border: 1px solid $link-color;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $link-color;
    transition: color $time $time-function;
    &:hover,
    &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
}}

.customer__link-icon {
    fill: currentColor;
}
}