.footer{
    background-color: utils.$background;
    padding-top: 60px;
    padding-bottom: 60px;

.footer__logo{
    font-weight: 700;
    font-size: 26px;
    font-family: Raleway;
    color: utils.$accent-color;
    line-height: 1.19;
     margin-bottom: 9px;
    display: block;
}
.footer__location{
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
    color: utils.$white-color;
    margin-bottom: 2px;
    display: block;
    transition: color utils.$time $time-function;
    &:hover,
    &:hover {
    color: $accent-color;
}}

.footer__item:not(:last-child) {
    margin-bottom: 2px;
}
.footer__item-link{
    font-size: 14px;
    color: utils.$white-color;
    opacity: .6;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
    transition: color utils.$time utils.$time-function;
    &:hover,
    &:focus {
    color: utils.$accent-color;
}}

.footer__middle-title{
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    font-family: Roboto;
    color: utils.$white-color;
    margin-bottom: 20px;
}
.footer__container{
    display: flex;
    align-items: baseline;
}
.footer__left{
    margin-right: 70px;
}
.footer__middle{
    margin-right: 93px;
}
.footer__social-media{
    display: flex;
}
.footer__socials-link{
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: utils.$footer-social-link-background;
    transition: color utils.$time utils.$time-function;
    &:hover,
    &:focus{
    background-color: utils.$accent-color;
}}

.footer__socials-link-icon {
    cursor: pointer;
}

.footer__form {
    display: flex;
}

.footer__form-label {
    margin-right: 12px;
}

.footer__input-title {
    font-size: 14px;
    line-height: calc(16/14);
    color: utils.$white-color;
    margin-bottom: 20px;

}

.footer__input {
    padding: 15px;
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
    transition: color utils.$time utils.$time-function;
    transition: background-color utils.$time utils.$time-function;
    transition: border-color utils.$time utils.$time-function;
    &:hover,
    &:focus {
    color: utils.$white-color;
    background-color: transparent;
    border-color: utils.$white-color;
}}

&__button {
    border: none;
    padding: 10px 28px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:utils.$accent-color;
    color: utils.$white-color;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto';
    transition: background-color utils.$time utils.$time-function;
    &:hover
    &:focus {
    background-color: utils.$button-hover;
}}

.send-icon {
    margin-left: 30px;
}
}