.header {
    background: $header-background;
    border-bottom: 1px solid #ECECEC;
    display: flex;}

    .header__container {
        display: flex;
    }

    .header__navigation {
        display: flex;
        align-items: center;
    }

    .header__logo {
        color: $accent-color;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        font-family: Raleway;
        margin-right: 97px;
    }

    .header__list-link {
        display: flex;
    }

    .header__item:not(:last-child) {
        margin-right: 50px;
    }

    .header__link {
        color: $primary-title-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        padding-top: 32px;
        padding-bottom: 32px;
        display: block;
        transition: color $time $time-function;
        &:hover,
        &:focus{ 
        color: $accent-color;
        text-decoration: underline;
    }}

    .current {
        color: $accent-color;
        position: relative;
        display: inline-block;
        &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        left: 0;
        bottom: 0;
        background-color: $accent-color;
        background: $accent-color;
    }}

    .header__list-contact {
        display: flex;
        margin-left: auto;
    }

    .header__item-contact:not(:last-child) {
        margin-right: 50px;
    }

    .header__item-contact-link {
        color: $primary-text-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        align-items: center;
        transition: color $time $time-function;
        &:hover,
        &:focus {
        color: $accent-color;
    }}

    .header__item-contact-icon {
        margin-right: 10px;
        fill: currentColor;
    }
